<h1><%= @dog.name %></h1>
<h2><%= @dog.age %></h2>
<h2><%= @dog.breed %></h2>

<ul>
<% @dog.employees.each do |employee| %>
  <li><%= link_to employee.name, employee_path(employee) %></li>
<% end %>
</ul>
